
.container {
    width: 1100px;
    padding-top: 30px;
  }
  
  .avatar{
      display: flex;
      justify-content: center;
  }
  
  .avatar_img {
    width: 300px;
    height: 300px;
  }
  
  .worker__name {
    text-align: center;
  }
  
  .worker__rating {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .list_star {
    display: inline;
  }
  
  .list_star__img {
    width: 50px;
    height: 50px;
  }
  
  .worker_description__text{
      font-size: 18px;
  }
  
  .worker_skills__list__item{
      font-size: 18px;
  }
  
  .worker_contacts_form{
      display: flex;
  }